<!DOCTYPE html>
<html>
<head>
</head>
<body>
{% if usuario.edad <18 %}
<img src="https://www.hola.com/imagenes/estar-bien/20180831128704/ronroneo-gatos-causas/0-595-638/gato-ronroneo-1-t.jpg" height="700" width="700">

{%endif%}
</body>
</html>